[Desktop Entry]
Type=Application
Name=Screenshot Monitor
Exec=nohup /home/hannah/.local/bin/screenshotmonitor >/dev/null 2>&1 &
Icon=/home/hannah/.local/share/icons/screenshotmonitor.png
Categories=Utility;
NoDisplay=false
Terminal=false